conteiner{
    display: inline-block;
    width: 1100px;
    margin-left: calc( (100% - 900px) / 2 );
}
.mblur
    {
        display: inline-block;
      position:absolute;
      top: 0px;
      /* left: 0%; 
       z-index: 1; */
      width: 100%;
    }
    .mc
    {
        display: inline-block;
      position:absolute;
      top: 190px;
      left: 15%;
      z-index: 2;
      width: 900px;
      height: 700px;
      border-image: round;
    }
form { 
    display: inline-block;
    position: absolute;
    z-index: 3;
    color: lightgray;
    height: 740px;
    width: 720px;
    background-color: white;
    margin-top: 150px;
    margin-left: 425px;
    
}
form>*{

    padding: 20px 40px;
    display: block;
}
    input {
        display: inline-block;
        border: none;
        padding: 12px;
        color: lightslategrey;
        border-bottom: 2px solid gainsboro;
        margin-top: 40px;
      }
    

link {
    display: inline-block;
    position:absolute;
    z-index: 3;
    margin-top: 80px;
}

div {
    display: inline-block;
}
    h1 {
        display: inline-block;
        margin-left: 0%;
        margin-top: 10%;
        position:absolute;
        z-index: 3;
        font-size: 34px;
        
    }
    link {
        display: inline-block;
        margin-left: 0%;
    }
    